{# templates/cafe_muxx/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Café MUXX</h1>
 
    {# Ajoutez le contenu spécifique à la section du Café MUXX ici #}
    <!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="" xml:lang="">
<head>
  <title>Art Studio</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <link rel="stylesheet" type="text/css" href="styles.css" />
</head>
<body bgcolor="#A0A0A0" vlink="blue" link="blue">
  <div id="page3-div" class="page">
    <img width="2880" height="6000" src="target003.png" alt="background image"/>
    <p class="ft30"><b>BOUTIQUE</b></p>
    <p class="ft30"><b>E-SHOP</b></p>
    <p class="ft30"><b>muxx&#160;</b><i>&amp;</i><b>&#160;you</b></p>
    <p class="ft32"><i>Art</i></p>
    <p class="ft30"><b>ATELIERS</b></p>
    <p class="ft30"><b>ACTU</b></p>
    <p class="ft30"><b>STUDIO</b></p>
    <p class="ft33">0</p>
    <p class="ft34"><i>Bienvenue !</i></p>
    <p class="ft30"><b>BIENVENUE AU WORKSHOP, L’ATELIER-BOUTIQUE&#160;</b></p>
    <p class="ft30"><b>DES&#160;ARTISTES LAUREN BONARD ET MUXX.</b></p>
    <p class="ft35">Nous sommes ravies de vous accueillir dans notre espace&#160;</p>
    <p class="ft35">de création. Un lieu chaleureux où vous pourrez découvrir&#160;</p>
    <p class="ft35">de nouvelles formes d’art, trouver des cadeaux uniques et&#160;</p>
    <p class="ft35">participer à des&#160;ateliers qui nourriront votre âme créative.</p>
    <p class="ft36"><b>LA BOUTIQUE EST&#160;</b></p>
    <p class="ft37"><b>OUVERTE</b></p>
    <p class="ft38">23 QUAI DU HÂBLE À DIEPPE</p>
    <p class="ft39"><b>•</b></p>
    <p class="ft310"><b>&#160;LE VENDREDI DE 10H À 17H</b></p>
    <p class="ft39"><b>•&#160;</b></p>
    <p class="ft310"><b>LE SAMEDI DE 14H À 18H</b></p>
    <p class="ft39"><b>•&#160;</b></p>
    <p class="ft310"><b>ET LE DIMANCHE DE 11H À 16H</b></p>
    <p class="ft38">SUIVEZ-NOUS SUR INSTAGRAM</p>
    <p class="ft311"><b>@THE_WORKSHOP_DIEPPE</b></p>
    <p class="ft312"><b>@MUXXANDME</b></p>
    <p class="ft311"><b>@BONARDLAUREN</b></p>
    <p class="ft313"><b>e-shop</b></p>
    <p class="ft314"><i>L’e-shop est&#160;</i></p>
    <p class="ft314"><i>toujours ouvert !</i></p>
    <p class="ft315"><b>THE WORKSHOP</b></p>
    <p class="ft316">23 quai du Hâble</p>
    <p class="ft316">76200 Dieppe</p>
    <p class="ft316">Nous sommes ouvert&#160;</p>
    <p class="ft316">du vendredi au dimanche&#160;</p>
    <p class="ft316">de 11h à 17h</p>
    <p class="ft316">Pour être informé de tout ce qui se passe au&#160;</p>
    <p class="ft316">Workshop, abonnez-vous à notre newsletter :</p>
    <p class="ft317"><b>JE M’ABONNE</b></p>
    <p class="ft318">SUIVEZ-NOUS SUR INSTAGRAM</p>
    <p class="ft322"><b>@THE_WORKSHOP_DIEPPE<br/>@MUXXANDME</b></p>
    <p class="ft320"><b>BOUTIQUE</b></p>
    <p class="ft320"><b>E-SHOP</b></p>
    <p class="ft320"><b>ART</b></p>
    <p class="ft320"><b>ATELIERS</b></p>
    <p class="ft320"><b>ACTU</b></p>
    <p class="ft320"><b>STUDIO</b></p>
    <p class="ft321">©2023 - Muxxandme - Tous droits réservés - Mentions légales &amp; CGU</p>
    <p class="ft321">Site développé par Sylvain Dumaine</p>
  </div>
</body>
</html>

{% endblock %}
