{# templates/workshops/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Les Ateliers</h1>
    <p>Bienvenue dans notre section Ateliers.</p>
    {# Ajoutez le contenu spécifique à la section des ateliers ici #}
{% endblock %}
