{# templates/press/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Presse</h1>
    <p>Lisez ce que la presse dit à propos de nous.</p>
    {# Ajoutez le contenu spécifique à la section de la Presse ici #}
{% endblock %}
