{# templates/shop_agencee/index.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>Shop Agencee</h1>
    <p>Explorez nos produits uniques dans notre boutique en ligne.</p>
    {# Ajoutez le contenu spécifique à la section du Shop Agencee ici #}
    
{% endblock %}
